{% extends 'base.html.twig' %}

{% block body %}
    <h1>Distributor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ distributor.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ distributor.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ distributor.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ distributor.password }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ distributor.roles }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ distributor.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ distributor.lastName }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{% if distributor.birthDate %}{{ distributor.birthDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ distributor.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ distributor.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ distributor.city }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ distributor.address }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('distributor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('distributor_edit', { 'id': distributor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
